@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&family=Space+Mono:wght@400;700&display=swap');

@import "tailwindcss";

@layer base {
  :root {
    --color-brand-pink: #ff0080;
    --color-brand-light: #ffe6f2;
    --color-brand-dark: #333333;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', sans-serif;
    @apply bg-white text-gray-800 antialiased;
  }

  ::selection {
    background-color: var(--color-brand-pink);
    color: white;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-brand-pink);
    border-radius: 4px;
  }
}

@layer utilities {
  /* Animation Delays utilities */
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
