
$tipografia: 'Lato', sans-serif;

/* ----- Mapas ----- */
$colores:(
    primario: #CAFF00,
    secundario: #000,
    terciario: #ffffff,
    colorBorder: #eb12a9,
    bg: radial-gradient(circle, #71ff00, #ffb007, #ff8000, #ff2762, #eb12a9),
);

/* ----- Extends ----- */
%flexRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
}

%flexColumn{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

%flexColumnReverse{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

%botones{
    margin-left: 15px;
    box-sizing: border-box;
    width: 110px;
    height: 35px;
    background: linear-gradient(180deg, #000000 0%, #000000 0.01%);
    border: 2px solid #CAFF00;
    backdrop-filter: blur(2px);
    border-radius: 55px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}






